/* Général */

* {
	font-family: 'Roboto', sans-serif;
}

#container {
	width: 70%;
	margin : auto;
}

body {
	margin: 0px;
}

.leftColumn {
	width:33%;
	background-color: #FECA07;
	position: relative;
}

.rightColumn {
	width: 56%;
	padding-left: 5%;
	padding-right: 5%;
}

p {
	font-size: 1em;
}


/* Header */

header {
	display: flex;
	align-items: center;
}

#imgCenter {
	padding-top: 2em;
	text-align: center;
}

img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	margin: 10%;
	border : solid 0.3em #A9A9A980;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size:2em;
}

#firstName {
	color:#FECA07;
}

#underlineStyle {
	border-bottom: solid 0.1em #FECA07;
}

/* aside / main columns */

#organisation {
	display: flex;
}

/* left side */

.titlesLeftSideNoMargin {
	margin-top: 0px;
	margin-bottom: 0px; 
}

.titlesLeftSide {
	width:100%;
	height: auto;
	background-color: #404040;
	color: #FECA07;
	text-align: center;
	font-size:1.5em;
	padding-top: 0.3em; /* inneficace en dessous de ce chiffre la et bcp trop grand au dessus ( !!! fixé margin top / bottom h3 ) */
	padding-bottom: 0.3em;
}

.leftSideContent {
	padding-left: 5%;
	padding-right: 5%;
}

#hobbiesList {
	display: flex;
	justify-content: space-around;
	font-size: 1em;
	color :#404040;
	padding-top: 2em;
	padding-bottom: 2em;
}

.icones {
	font-size: 3em;
	border : solid 0.05em #404040;
	border-radius: 50%;
	padding:0.2em;
	max-width:33%;
}

#pushedToTheGround {
	position : absolute;
	bottom: 0px;
	width: 100%;

}


/* Right side */

ul {
	margin-left: 0px!important;
}

.firstPuce {
	border: solid 0.1em #FECA07;
	border-radius: 50%;
	padding: 0.2em;
}

.puces {
	color: #FECA07;
	margin-right: 1em;
}

.titlesRightSide {
	font-size : 1.5em;
	border-bottom: solid 0.1em #FECA07;
}

.rightSideBlocList {
	display: flex;
	flex-direction: column;
}

.orange {
	color : #FECA07;
	margin-right: 1em;
}

.rightSideBloc {
	display : flex;
	width: 100%;
	align-items: baseline;
}

.date {
	width: 30%;
}

.description {
	width: 70%;
}

.recommandation {
	width: 50%;
}

main h4 {
	font-size: 1.5em;
}

.intitule {
	font-size: 1.1em;
	font-weight: bold;
}



/*******
********
 responsive mobile-first 
 *******
 ********/

/* fond blanc photo */
@media (max-width: 980px) {

#imgCenter {
	background-color: white;
}

#container {
	width: 100%;
}
}

@media (max-width: 600px) {

/* header */

header {
	flex-direction: column;
}



.textCenter {
	text-align: center;
}

/* stacking */

#organisation {
	flex-direction: column-reverse;
}

.leftColumn {
	width:100%;
}

.rightColumn {
	width: 90%;
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
}

#pushedToTheGround {
	position : relative;
}


/* réorganiser liste a puces en mobile */
.rightSideBloc {
	flex-direction: column;
	margin-bottom: 3em;
}

.date {
	margin: auto;
	width:50%;
	text-align: center;
}

.align {
	margin:auto;
}
/* suppresion decalage liste */

.fa-ul {
	margin-left:0px!important;
}

.puces {
	margin-right: 0.3em;
}

#imgCenter {
	padding-top: 0px;
}

}