/* Général */

* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
}

.leftColumn {
	width:33%;
	background-color: #FECA07;
	position: relative;
}

.rightColumn {
	width: 56%;
	padding-left: 5%;
	padding-right: 5%;
}

p {
	font-size: 1em;
}


/* Header */

header {
	display: flex;
	align-items: center;
}

#imgCenter {
	text-align: center;
}

img {
	width: 50%;
	height: auto;
	border-radius: 50%;
	margin: 10%;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size:2em;
}

#firstName {
	color:#FECA07;
}

#underlineStyle {
	border-bottom: solid 0.1em #FECA07;
}

/* aside / main columns */

#organisation {
	display: flex;
}

/* left side */

.titlesLeftSide {
	width:100%;
	height: auto;
	background-color: #404040;
	color: #FECA07;
	text-align: center;
	font-size:1.5em;
	padding-top: 0.0001em; /* inneficace en dessous de ce chiffre la et bcp trop grand au dessus ( !!! a revoir ) */
}

.leftSideContent {
	padding-left: 5%;
	padding-right: 5%;
}

#hobbiesList {
	display: flex;
	justify-content: space-around;
	font-size: 1em;
	color :#404040;
}

#pushedToTheGround {
	position : absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 2em;
}


/* Right side */


.puces {
	color: #FECA07;
	margin-right: 1em;
}

.titlesRightSide {
	font-size : 1.5em;
	border-bottom: solid 0.1em #FECA07;
}

.rightSideBlocList {
	display: flex;
	flex-direction: column;
}

.orange {
	color : #FECA07;
	margin-right: 1em;
}

.rightSideBloc {
	display : flex;
	width: 100%;
	align-items: baseline;
}

.date {
	width: 30%;
}

.description {
	width: 70%;
}

.recommandation {
	width: 50%;
}

main h4 {
	font-size: 1.5em;
}

.intitule {
	font-size: 1.1em;
	font-weight: bold;
}



/*******
********
 responsive mobile-first 
 *******
 ********/

/* fond blanc photo */
@media (max-width: 980px) {

#imgCenter {
	background-color: white;
}
}

@media (max-width: 600px) {

/* header */

header {
	flex-direction: column;
}



.textCenter {
	text-align: center;
}

/* stacking */

#organisation {
	flex-direction: column-reverse;
}

.leftColumn {
	width:100%;
}

.rightColumn {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

#pushedToTheGround {
	position : relative;
}

/* suppresion decalage liste */

.fa-ul {
	margin-left:0px!important;
}

.puces {
	margin-right: 0.3em;
}

}